body {
    background-color: white;
    display: flexbox;
}

.logo {
    max-width: 250px;
}

.navbar {
    background-color: white;
    font-size: 30px;
}

.profile{
    max-width: 250px;
}

.jumbotron {
    background-color: white;
}

header{
    font-weight: bold;
    font-size: 25px;
}

.pic {
    float: left;
}

.about {
    float:right;
    margin-right: 360px;
    margin-top: 10px;
}

.bio {
    float: right;
}

#quote {
    font-weight: bold;
    font-style: italic;
}
#mind {
    font-style: italic;
}

#footer {
    padding-top: 40px;
}